<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta content="三十而立、创业、互联网发展、三十而立。" name="description">
  	<meta name="author" content="hellowego">
  	<title>三十而立,创业,互联网发展,而立之年</title>
  	<meta name="keywords" content="三十而立,创业,互联网发展,而立之年" />
  	<meta property="og:title" content="三十而立,精彩人生" />
    <meta property="og:type" content="blog" />
    <meta property="og:url" content="http://30sui.cn/" />
    <link rel="shortcut icon" href="/site_media/img/Bee.ico">
    <!-- Bootstrap core CSS -->
    <link href="/site_media/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/site_media/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/site_media/css/main.css" rel="stylesheet">
  </head>
<body>

{% include 'common/head.html' %}

</body>
</html>