
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
{% load staticfiles %}
<title>{% block title %}base title{% endblock title%}</title>
<script src="{%static 'js/jquery-2.0.1.min.js' %}"></script>
<script src="{%static 'js/eldarion-ajax.js' %}"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
    $(function() {
        $('body').on("click", '.change-card, .subscribe-form button[type=submit]', function(e) {
          e.preventDefault();
          var $form = $(this).closest("form"),
              token = function(res) {
                $form.find("input[name=stripe_token]").val(res.id);
                $form.trigger("submit");
              };

          StripeCheckout.open({
            key:         $form.data("stripe-key"),
            name:        'Payment Method',
            panelLabel:  'Add Payment Method',
            token:       token
          });

          return false;
        });
    });
</script>
</head>
<body>
<p>hello world</p>
{% block body %} {% endblock body %}
</body>
</html>